@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer layout {
    :root {
        --background: #202020;
        --foreground: #c3e9ff;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --background: #0a0a0a;
            --foreground: #ededed;
        }
    }
    @media (prefers-color-scheme: light) {
        :root {
            --background: #dafeff;
            --foreground: #313131;
        }
    }
    body {
        color: var(--foreground);
        background: var(--background);
        font-family: Arial, Helvetica, sans-serif;
    }
}
